#nav {font-size:1em; width:150px;}
#nav ul {margin:0px; padding:0px;}
#nav li {list-style: none;} 

ul.top-level {background:#006666;}
ul.top-level li {
 border:1px #4d8cba solid; 
 border-width: 0px;
}
 #nav ul.sub-level {border:1px solid white;background:#DA251C;}
#nav a {
 color: white;
 cursor: pointer;
 display:block;
 height:25px;
 line-height: 25px;
 text-indent: 10px;
 text-decoration:none;
 width:100%;
}
#nav a:hover{
 text-decoration:underline;
}

#nav li:hover {
 background: #4d8cba;
 position: relative;
}
ul.sub-level {
    display: none;  
}
li:hover .sub-level {
    background: #999;
    border: #fff solid;
    border-width: 1px;
    display: block;
    position: absolute;
    left: 75px;
    top: 5px;
}
ul.sub-level li {
    border: none;
    float:left;
    width:150px;
}

#nav .sub-level {
    background: #FFFFFF;
}